<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  {{>navbar}}


  <!-- mainheader -->


  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->


          <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
              <h1 style="font-size: 100px;">4<span style="color:#0097e6;">0</span>4 E<span style="color:#0097e6;">R</span style="color:#0097e6;">R<span style="color:#0097e6;">O</span>R </h1>
            </figure>
         </div>

          <div class="col-md-6 col-12 main_header_left">
            <p>welcome to weather app</p>
            <h1>I am a <span class="txt_clr">MERN Stack Developer</span> And a Freelancer</h1>
            <a href="#"><button>About_me</button></a>

          </div>
          <!-- right side div -->
     
        </div>
      </div>
    </div>
  </div>


<!-- footer -->
 {{>footer}}

</body>

</html>